<!DOCTYPE html>
<html>
<head>
    <title>Analytics Dashboard</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<h1>Analytics Dashboard</h1>

<h2>Total Revenue: ₹{{ total_revenue }}</h2>
<h2>Total Orders: {{ total_orders }}</h2>

<canvas id="salesChart" width="600" height="300"></canvas>

<script>
fetch('/api/chart-data/')
.then(response => response.json())
.then(data => {

    const ctx = document.getElementById('salesChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.labels,
            datasets: [{
                label: 'Sales',
                data: data.sales
            }]
        }
    });

});
</script>

</body>
</html>